# 🔐 BETTER_AUTH_SECRET
# A secure random string used to sign and verify authentication tokens.
# Generate one with:
#   openssl rand -base64 64
# Example:
#   BETTER_AUTH_SECRET="Qn0K3D/ZP3z7Sp1bGkWy+6w2rQ9B4Tz6dYZl3hFZ8bM="
BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
