@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --font-display: var(--font-display);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-destructive: var(--destructive);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --text-4xl--line-height: 1.65; 
  --text-4xl--letter-spacing: -0.085rem;

  --text-3xl--line-height: 1.65; 
  --text-3xl--letter-spacing: -0.085rem;

  --text-2xl--line-height: 1.75; 
  --text-2xl--letter-spacing: -0.05rem;

  --text-xl--line-height: 1.75; 
  --text-xl--letter-spacing: -0.015rem;

  --text-lg--line-height: 1.75; 
  --text-lg--letter-spacing: -0.015rem;

  --text-base--line-height: 1.65; 
  --text-base--letter-spacing: -0.015rem;

  --text-sm--line-height: 1.5; 
  --text-sm--letter-spacing: -0.0175rem;

  --text-xs--line-height: 1.33; 
  --text-xs--letter-spacing: -0.012rem;

  --text-lead: 1.125rem;
  --text-lead--line-height: 1.75; 
  --text-lead--letter-spacing: -0.015rem;

  --text-label: 0.875rem;
  --text-label--line-height: 1; 
  --text-label--letter-spacing: -0.02rem;   

  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
}

:root {
  --primary-50: oklch(0.9777 0.011 303.12);
  --primary-100: oklch(0.9424 0.0277 301.75);
  --primary-200: oklch(0.8749 0.0633 300.32);
  --primary-300: oklch(0.7796 0.1223 299.8);
  --primary-400: oklch(0.6736 0.1667 299.31);
  --primary-500: oklch(0.6082 0.2247 299.9);
  --primary-600: oklch(0.5123 0.2295 297.24);
  --primary-700: oklch(0.4609 0.2255 295.79);
  --primary-800: oklch(0.3723 0.1598 298.56);
  --primary-900: oklch(0.2894 0.0952 301.12);
  --primary-950: oklch(0.2422 0.0743 300.56);

  --background: oklch(0.982 0.0041 91.45);
  --foreground: oklch(0.1988 0.0247 303.3);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  
  --primary: oklch(0.4609 0.2255 295.79);
  --primary-foreground: oklch(0.9424 0.0277 301.75);
  
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  
  --destructive: oklch(0.577 0.245 27.325);
  
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.627 0.1933 297.24);
  
  --radius: 0.625rem;

  --shadow-sm:
    0 0 0 1px color-mix(in oklab, var(--primary-900) 6%, transparent),
    0 1px 1px 0.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 6px 9px -4.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 12px 16px -8px color-mix(in oklab, var(--primary-900) 4%, transparent);

  --shadow-md:
    0 0 0 1px color-mix(in oklab, oklch(55.3% 0.013 58.071) 10%, transparent),
    0 1px 1px -0.5px color-mix(in oklab, var(--primary-950) 6%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 6px 6px -3px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 12px 12px -6px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 16px 16px -8px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 32px 32px -16px color-mix(in oklab, var(--primary-900) 2%, transparent);

  --shadow-lg:
    0 0 0 1px color-mix(in oklab, oklch(55.3% 0.013 58.071) 10%, transparent),
    0 1px 1px -0.5px color-mix(in oklab, var(--primary-950) 8%, transparent),
    0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 6%, transparent),
    0 6px 6px -3px color-mix(in oklab, var(--primary-900) 6%, transparent),
    0 12px 12px -6px color-mix(in oklab, var(--primary-900) 6%, transparent),
    0 16px 16px -8px color-mix(in oklab, var(--primary-900) 6%, transparent),
    0 32px 32px -16px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 48px 48px -24px color-mix(in oklab, var(--primary-900) 4%, transparent),
    0 64px 64px -32px color-mix(in oklab, var(--primary-900) 4%, transparent);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground slashed-zero;
    
    text-rendering: optimizeLegibility;
    hanging-punctuation: first allow-end last;
    font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1, "zero" 1, "calt" 1;
  }
}

@layer typography {
  h1 {
    @apply font-bold text-[4rem] leading-tight -tracking-[0.02em]
  }
  
  h2 {
    @apply font-semibold text-[3rem] leading-[1.16] -tracking-[0.02em]
  }
  
  h3 {
    @apply font-semibold text-[2.5rem] leading-[1.16] -tracking-[0.015em]
  }
  
  h4 {
    @apply font-semibold text-[2rem] leading-[1.25] -tracking-[0.01em]
  }
  
  h5 {
    @apply font-medium text-[1.5rem] leading-[1.33] -tracking-[0.005em]
  }
  
  h6 {
    @apply font-medium text-[1.25rem] leading-[1.33] -tracking-[0.005em]
  }

  p {
    @apply font-sans
  }

  strong {
    @apply font-medium
  }
}

.card:hover {
  transform: perspective(1200px) translateZ(80px);
  z-index: 1;
}