
@theme {
    --text-title-1: 4rem;
    --text-title-1--line-height: 1.25; 
    --text-title-1--letter-spacing: -0.02em; 
    --text-title-1--font-weight: 700; 
  
    --text-title-2: 3rem;
    --text-title-2--line-height: 1.16; 
    --text-title-2--letter-spacing: -0.02em; 
    --text-title-2--font-weight: 600; 
  
    --text-title-3: 2.5rem;
    --text-title-3--line-height: 1.16; 
    --text-title-3--letter-spacing: -0.015em; 
    --text-title-3--font-weight: 600; 
  
    --text-title-4: 2rem;
    --text-title-4--line-height: 1.25; 
    --text-title-4--letter-spacing: -0.01em; 
    --text-title-4--font-weight: 600; 
  
    --text-title-5: 1.5rem;
    --text-title-5--line-height: 1.33; 
    --text-title-5--letter-spacing: -0.005em; 
    --text-title-5--font-weight: 500; 
  
    --text-title-6: 1.25rem;
    --text-title-6--line-height: 1.33; 
    --text-title-6--letter-spacing: -0.005em; 
    --text-title-6--font-weight: 500; 
  
    --text-4xl--line-height: 1.65; 
    --text-4xl--letter-spacing: -0.085rem;
  
    --text-3xl--line-height: 1.65; 
    --text-3xl--letter-spacing: -0.085rem;
  
    --text-2xl--line-height: 1.75; 
    --text-2xl--letter-spacing: -0.05rem;
  
    --text-xl--line-height: 1.75; 
    --text-xl--letter-spacing: -0.015rem;
  
    --text-lg--line-height: 1.75; 
    --text-lg--letter-spacing: -0.015rem;
  
    --text-base--line-height: 1.65; 
    --text-base--letter-spacing: -0.015rem;
  
    --text-sm--line-height: 1.5; 
    --text-sm--letter-spacing: -0.0175rem;
  
    --text-xs--line-height: 1.33; 
    --text-xs--letter-spacing: -0.012rem;
  
    --text-lead: 1.125rem;
    --text-lead--line-height: 1.75; 
    --text-lead--letter-spacing: -0.015rem;
  
    --text-badge: 0.75rem;
    --text-badge--line-height: 1; 
    --text-badge--letter-spacing: -0.015rem;
    --text-badge--font-weight: 500;
  
    --text-label: 0.875rem;
    --text-label--line-height: 1; 
    --text-label--letter-spacing: -0.02rem;   
  
    --shadow-sm: var(--shadow-sm);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
}

@layer typography {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display
  }

  strong {
    @apply font-medium
  }
}
  
:root {
  --shadow-sm:
  0 0 0 1px color-mix(in oklab, var(--primary-900) 6%, transparent),
  0 1px 1px 0.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 6px 9px -4.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 12px 16px -8px color-mix(in oklab, var(--primary-900) 4%, transparent);

--shadow-md:
  0 0 0 1px color-mix(in oklab, oklch(55.3% 0.013 58.071) 10%, transparent),
  0 1px 1px -0.5px color-mix(in oklab, var(--primary-950) 6%, transparent),
  0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 6px 6px -3px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 12px 12px -6px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 16px 16px -8px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 32px 32px -16px color-mix(in oklab, var(--primary-900) 2%, transparent);

--shadow-lg:
  0 0 0 1px color-mix(in oklab, oklch(55.3% 0.013 58.071) 10%, transparent),
  0 1px 1px -0.5px color-mix(in oklab, var(--primary-950) 8%, transparent),
  0 3px 3px -1.5px color-mix(in oklab, var(--primary-900) 6%, transparent),
  0 6px 6px -3px color-mix(in oklab, var(--primary-900) 6%, transparent),
  0 12px 12px -6px color-mix(in oklab, var(--primary-900) 6%, transparent),
  0 16px 16px -8px color-mix(in oklab, var(--primary-900) 6%, transparent),
  0 32px 32px -16px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 48px 48px -24px color-mix(in oklab, var(--primary-900) 4%, transparent),
  0 64px 64px -32px color-mix(in oklab, var(--primary-900) 4%, transparent);
}